.App-link {
  color: #61dafb;
}

nav > a {
  font-weight: 500;
}

.nav{
  background-color: #58F5A6;
  box-shadow: 5px 4px 9px 0 #36543459;
}
.text-end{
  text-align: end !important;
}

@media only screen and (max-width: 992px){
  nav{
    height: 7rem;
  }
  nav > a{
    font-size: xxx-large !important;
    font-variant-caps: small-caps;
    align-self: flex-start;
    font-family: revert;

  }
  nav > div > ul > li > a{
    font-size: xx-large !important;
  }
  p, label, input, textarea{
    font-size: x-large !important;
  }
  button{
    font-size: xx-large !important;
  }
  h5{
    font-size: xx-large !important;
    font-weight: bold;
    font-variant: all-small-caps
  }
  div>div>a{
    font-size: xx-large !important;
  }
  div>div>span>strong{
    font-size: xx-large !important;
    vertical-align: middle;
  }
}
