footer {
  color: #bfbfbf;
}

.nav{
  background-color: #58F5A6;
  box-shadow: 5px 4px 9px 0 #36543459;
}

.navbar-nav span[role=button] {
  padding: 15px;
  display: inline-block;
  line-height: 20px;
}
